
*{
    padding: 0;
    margin: 0;
}



.container{
    display: flexbox;
    position: relative;
    box-sizing: border-box;
    height: 250px;
    width: 250px;
    background-color: rgb(33, 94, 225);
    padding: 40px;
    margin: 150px 325px;
    text-align: center;
    font-size: 1.5rem;
    color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button-container
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    margin: 5px;
}

button{
    font-family: monospace;
    border-radius: 5px;
    border: transparent;
    font-size: 1.5rem;
    flex: 1 1 auto;
}

#btn{
    color: rgb(255, 255, 255);
    background-color: blueviolet;
    display: inline;
   
}

#btn-reset{
    color: rgb(0, 0, 0);
    background-color: rgb(219, 219, 219);
    display: inline;
}

#boxTitle{
    margin: 40px;
}

#numberOfClicksTxt{
    text-align: center;
}


#btn:hover{
    background-color: rgb(50, 0, 130);
}

#btn-reset:hover{
    background-color: rgb(98, 0, 255);
}

#btn:cursor{
    background-color: rgb(122, 56, 119);
}

#btn-reset:focus{
    background-color: rgb(255, 255, 255);
}